/* ::-webkit-scrollbar { 
  display: none; 
} */
/* html, body {
  height: 100%;
  overflow: hidden;
} */

#mainContainer {
  height:100vh;
  width: 100vw;
  
}
  /* PAINT SECTION */
  #paintSection {
    display: inline-block;
    width: calc(100% - 200px);
    height:100%;
    margin-right: -10px;
    vertical-align: top;
  } 
    #canvasContainer {
      height:1024px; 
      width:1820px; 
      overflow: hidden; 
      position: relative;
    }

    #canvasWindow {
      position: relative;
      top: 0px;
      left: 0px;
      display: inline-block;
      width: calc(100% - 60px);
      height: calc(100% - 150px);
      margin-right: -10px;
      vertical-align: top;
      overflow: scroll;
    }

    #lower {
      /* position: absolute; */
      background-color: white;
      zoom: 100%;
      /* top: 0px;
      left: 0px; */
    }
    #upper {
      position: relative;
      /* background-color:green; */
      top: -1030px;
      zoom: 100%;
      /* left: 0px; */
    }

    #toolSection {
      /* position: fixed; */
      /* font-size: 25px; */
      display: inline-block;
      width: 60px;
      margin-left: auto;
      height: calc(100% - 150px);
      vertical-align: top;
    }

    #toolSection button {
      font-size: 25px;
    }

    #paletteSection {
      /* position: fixed; */
      width: 100%;
      height: 150px;
    }
      .slidersContainer {
        vertical-align: top;
        display: inline-block;
        width: 250px;
        height: 95%;
      }
      .slidersContainer label {
        height:20px;
      }
      .slidersContainer input {
        height:15px;
      }

      #palette {
        display: inline-block;
        vertical-align: top;
        height: 90%;
        margin-top: 1%;
        width: calc(100% - 520px);
        overflow: scroll;
      }
      #palette canvas {
        /* display: inline-block; */
        background-color:white;
      }

      #colorBox {
        height:25px;
        width: 25px;
        background-color: black;
        font-size: 25px;
      }
  /* PAINT !SECTION */


  /* USER SECTION  */
  #userSection {
    /* position: fixed; */
    display: inline-block;
    width: 200px;
    height: 100%;
    vertical-align: top;
  }

    #roomAction {
      height: 30px;
    }

    #userList {
      height: calc(40% - 25px);
      /* zoom: 200%; */
      overflow: scroll;
    }

    #chatLog {
      height: calc(55% - 25px);
      
    } 
      #messages{
        height: calc(100% - 40px);
      }
     /* USER !SECTION */

.text {
  font-size: 12px;
}
.text-others {
  color: rgb(230, 109, 125);
}
.text-yours {
  color: aqua;
}
.text-messages {
  color: rgb(220, 220, 220);
}

.slidersContainer button {
  font-size: 10px;
  height:20px;
}